<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="wi   dth=device-width, initial-scale=1.0">
  <title>Node.js Form</title>


</head>
<body>
  <h1>Submit Form</h1>
  <form action="/add1" method="POST" class="form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="name">email:</label>
    <input type="text" id="email" name="email" required>
    <br>
    <label for="password">password:</label>
    <input type="password" id="email" name="password" required>
    <br>
    <button type="submit">Submit</button>
  </form>
  
</body>
</html>
